<form action='/device' method="POST">
  <div class="Turn_on"> <!-- Botón para encender -->
    <input type="checkbox" name="check" value="1" id="Turn_on" onchange="turn_on()" checked/>
    <label for="Turn_on"></label>
  </div>
  <div id="regulate_intensity"> <!-- Intensidad -->
    <h3>Adjust light brightness</h3>
    <input id="contrast" type="range" name="brightness" value="5" max="5" min="0" step="0.1" value="0"></input>
  </div>
  <div><input type="submit" value="Save"></div>
</form> 
